@import "tailwindcss";

:root {
  --background: #FDFDFF;
  --foreground: #171717;
}

@theme {
  /* --font-main: var(--font-jakarta); */
  --color-primary: #E76F51;
  --color-secondary: #F8F8F8;
  /* --color-accent: #464646; */
  --color-background: #FDFDFF;
  /* --color-text: #000000; */
  --color-desc: #464646;
  --color-border: #EAEAEA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-poppins), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--color-background);
  color: var(--color-black);
  /* font-family: var(--font-main); */
}
